* { margin: 0; padding: 0; text-decoration: none; list-style: none; }
#wrap { width: 1400px; margin: 0 auto; }

header { 
    width: 100%; height: 500px; 
    background-image: url('/0826/img/main.png'); background-size: cover;
}
header .nav { display: flex; justify-content: center; padding-top: 30px;}
header .nav ul { width: 800px; display: flex; align-items: center; justify-content: center; }
header .nav li { width: 800px; display: flex; justify-content: space-between; grid-column-gap: 20px; }
header .nav a { color: #fff; font-weight: bold; }

#s1 {
    width: 100%; height: 500px; background: #999;
    display: flex; align-items: center; justify-content: space-between;
}
#s1 .left { width: 700px; } 
#s1 .left .about1 { width: 350px; padding-left: 200px; }
#s1 .left .about2 { position: absolute; width: 350px; padding-left: 200px; }
#s1 .right { width: 700px; padding: 20px; line-height: 40px; padding-left: 100px;} 
#s1 h1 a { font-size: 50px; color: cornflowerblue; }
#s1 hr { width: 150px;}
#s1 .txt { }